<html>
<head>
	<script src='/jquery.js'></script>
	<script src='http://datejs.googlecode.com/svn/trunk/build/date.js'></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/TimelineMax.min.js"></script>
	<script src="/client.js"></script>
	<script type="text/javascript" src="CSSPlugin.min.js"></script>
	<!--<script type="text/javascript" src="EasePack.min.js"></script>-->
	<script type="text/javascript" src="TweenLite.js"></script>
	<link rel="stylesheet" href="/client.css"/>
</head>
<body>

<div id="viewport" class="nocursor" style="background-image: url('img/background.png');width:240px;height:400px"></div>

</body>
</html>